@charset "UTF-8";

body{
  margin: 0;
  background:#e3e6f0;
  font-family: arial;
}

header{
  padding: 15px;
  height: 64px;
  background:#dc5a1b;
  text-align: left;
}

h1{
  font-size: 40px;
  color:#333333;
  padding:10px;
  display: inline;
}

h2, p{
  color:#333333;
  padding: 10px 150px;
  display: inline;
}

.row{
  clear: both;
}

input{
  margin-left: 50%;
  padding: 5px;
  width: 40%;
  height:25px;
  border-radius: 5px;
}

button{
  height: 50px;
  width: 40%;
  background-color: #0A5592;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 30%;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
